@tailwind base;
@tailwind components;
@tailwind utilities;

.backMain{
  background: linear-gradient(-45deg,#ffffff,#7f18ef,#C9EEFF);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}